/*
*= require normalize-rails
*= require_self
*/

@mixin border_radius($left_top_corner, $right_top_corner, $right_bottom_corner, $left_bottom_corner) {
  -webkit-border-radius : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  -moz-border-radius    : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
  border-radius         : $left_top_corner $right_top_corner $right_bottom_corner $left_bottom_corner;
}
@mixin box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : $offset_x $offset_y $blur $tension $color;
  box-shadow         : $offset_x $offset_y $blur $tension $color;
}
@mixin inset_box_shadow($offset_x, $offset_y, $blur, $tension, $color) {
  -webkit-box-shadow : inset $offset_x $offset_y $blur $tension $color;
  -moz-box-shadow    : inset $offset_x $offset_y $blur $tension $color;
  box-shadow         : inset $offset_x $offset_y $blur $tension $color;
}
@mixin text_shadow($offset_x, $offset_y, $blur, $color) {
  text-shadow: $offset_x $offset_y $blur $color;
}
%clearfix {
  &:after {
    position   : static;
    display    : block;
    height     : 0;
    clear      : both;
    content    : "";
    visibility : hidden;
  }
}

$text_color_1: #ffffff;
$text_color_2: #6a6a6a;
$text_color_3: #da4932;
$text_color_4: #1e81d3;
$text_color_5: #f1eade;
$text_color_6: #abb4d7;
$text_color_7: #24262d;
$text_color_8: #555;
$text_color_9: #3078ef;
$text_color_10: #858585;
$bg_color_1: #2494f2;
$bg_color_2: #2082d5;
$bg_color_3: #f8f8f8;
$bg_color_4: #fafafa;
$bg_color_5: #4d90fd;
$bg_color_6: #4e9dff;
$bg_color_7: #da4932;
$bg_color_8: #272930;
$bg_color_9: #1a1c20;
$bg_color_10: #ffffff;
$bg_color_11: #e54e35;
$bg_color_12: #1e2025;
$bg_color_13: #2a2c34;
$bg_color_14: #ececec;
$bg_color_15: #f1f1f1;
$shadow_color_1: #e1e1e1;
$border_color_1: #ececec;
$border_color_2: #357ebd;
$border_color_3: #ca452e;
$border_color_4: #1a1c20;
$border_color_5: #32353e;
$border_color_6: #e9e9e9;
$border_color_7: #dadada;
$border_color_8: #dddddd;
$border_color_9: #cccccc;

@import "http://webfonts.ru/import/opensans.css";

@import "icons";

.blue_interface {

  font-family: "Open Sans", sans-serif;
  background-color: $bg_color_3;
  color: $text_color_2;

  %shadow {
    @include box_shadow(2px, 2px, 2px, 0, $shadow_color_1);
  }
  %border_radius {
    @include border_radius(2px, 2px, 2px, 2px);
  }
  %text_shadow {
    @include text_shadow(2px, 2px, 0, $text_color_4);
  }

  @import "popup";
  @import "form";
  @import "buttons";
  @import "elements";
  @import "table";

}
