header {
  background-color: $bg_color_1;
  padding: 15px 30px 15px 30px;
  width: 100%;
  color: $text_color_1;
  font-size: 15px;
  @extend %text_shadow;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  position: relative;
  ul {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      a {
        color: $text_color_1;
        font-size: 14px;
      }
    }
  }
}

.frame {
  position: relative;
  height: 100%;
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    padding-top: 50px;
    background-color: $bg_color_8;
    box-sizing: border-box;
    .user {
      padding: 15px 25px 15px 25px;
      background-color: $bg_color_8;
      border-bottom: 1px solid $border_color_4;
      color: $text_color_5;
      font-size: 12px;
      .image {
        width: 60px;
        height: 60px;
        background: white;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        @include border_radius(40px, 40px, 40px, 40px);
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        width: 120px;
        float: left;
        box-sizing: border-box;
        padding: 15px 0 0 15px;
        .state {
          .icon {
            width: 9px;
            height: 9px;
            background: green;
            float: left;
            margin: 4px 5px 0 0;
            @include border_radius(5px, 5px, 5px, 5px);
          }
        }
        .login {
          font-size: 13px;
        }
      }
      @extend %clearfix;
    }
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .first_menu {
        li {
          cursor: pointer;
          position: relative;
          &:hover {
            .first_menu_item {
              background-color: $bg_color_13
            }
          }
          &.active {
            .plank {
              height: 100%;
              width: 1px;
              position: absolute;
              top: 0;
              left: 0;
              background-color: $bg_color_1;
            }
          }
          .first_menu_item {
            padding: 10px 20px 10px 20px;
            background-color: $bg_color_8;
            border-top: 1px solid $border_color_5;
            border-bottom: 1px solid $border_color_4;
            font-size: 12px;
            color: $text_color_6;
            @include text_shadow(2px, 2px, 0, $text_color_7);
            a {
              color: $text_color_6;
              @include text_shadow(2px, 2px, 0, $text_color_7);
              text-decoration: none;
            }
            .icon {
              float: left;
              margin: 4px 7px 0 0;
              font-size: 13px;
            }
            &.has_second_menu {
              .icon-arrow-up {
                position: absolute;
                top: 10px;
                right: 10px;
              }
              .icon-arrow-down {
                position: absolute;
                top: 10px;
                right: 10px;
              }
            }
          }
          .second_menu {
            li {
              &:hover {
                .second_menu_item {
                  background-color: $bg_color_12;
                }
              }
              &.active {
                .plank {
                  height: 100%;
                  width: 1px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  background-color: $bg_color_1;
                }
                .second_menu_item {
                  background-color: $bg_color_12;
                }
              }
              .second_menu_item {
                padding: 10px 20px 10px 20px;
                background-color: $bg_color_9;
                font-size: 10px;
                color: $text_color_6;
                @include text_shadow(2px, 2px, 0, $text_color_7);
                a {
                  color: $text_color_6;
                  @include text_shadow(2px, 2px, 0, $text_color_7);
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 230px;
    color: $text_color_8;
    .header {
      padding: 25px;
      background-color: $bg_color_10;
      border-bottom: 1px solid $border_color_6;
      @include box_shadow(0, 0, 1px, 0, $shadow_color_1);
      .label {
        font-size: 28px;
        font-weight: lighter;
      }
      .breadcrumbs {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          font-size: 10px;
          display: table-cell;
          a {
            color: $text_color_9;
            text-decoration: none;
          }
          &:after {
            margin: 0 5px 0 5px;
            content: '/';
          }
          &:last-child:after {
            content: none;
            margin: 0;
          }
        }
      }
    }
    .block {
      padding: 25px;
      width: 100%;
      box-sizing: border-box;
      .sub_block {
        background: $bg_color_10;
        padding: 15px;
        box-sizing: border-box;
        @extend %shadow;
        @extend %border_radius;
        .label {
          padding: 0 0 10px 0;
          margin: 0 0 10px 0;
          border-bottom: 1px solid $border_color_7;
          font-size: 18px;
          font-weight: lighter;
          .btn {
            margin: 0 0 0 10px;
            font-size: 13px;
          }
        }
        .small_label {
          padding: 0 0 10px 0;
          margin: 0 0 10px 0;
          border-bottom: 1px solid $border_color_7;
          font-size: 16px;
          font-weight: lighter;
        }
        .text {
          font-size: 14px;
          font-weight: lighter;
        }
        .action_block {
          padding: 15px;
          box-sizing: border-box;
          border: 1px solid $border_color_7;
          margin: 0 0 10px 0;
          form {
            width: 35%;
            float: left;
            padding: 0 15px 0 15px;
            box-sizing: border-box;
            margin: 0;
            .field {
              margin: 0;
            }
          }
          .info {
            width: 15%;
            font-size: 15px;
            float: left;
            padding: 0 15px 0 15px;
            box-sizing: border-box;
            margin-top: 7px;
            b {
              margin: 0 10px 0 10px;
            }
          }
          .actions {
            width: 35%;
            float: left;
            padding: 0 15px 0 15px;
            box-sizing: border-box;
            margin-top: 7px;
            .manage_btn, .clear_btn, .delete_btn {
              margin: 0 5px 0 5px;
            }
          }
          @extend %clearfix;
        }
        .side_block {
          width: 30%;
          float: left;
          padding: 0 15px 0 0;
          box-sizing: border-box;
        }
        .main_block {
          width: 70%;
          padding: 0 0 0 15px;
          float: left;
          box-sizing: border-box;
          border-left: 1px solid $border_color_7;
        }
        @extend %clearfix;
      }
    }
  }
}