// Формы и поля
form {
  .section_label {
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid $border_color_7;
    font-size: 15px;
    font-weight: lighter;
  }
  .field {
    margin: 0 0 15px 0;
    label, input, select, textarea {
      font-size: 11px;
      border: 1px solid $border_color_1;
      box-sizing: border-box;
      display: block;
      float: left;
      color: $text_color_2;
    }
    label {
      background-color: $bg_color_4;
      border-right: 0;
      padding: 9px 10px 9px 10px;
      @include border_radius(1px, 0, 0, 1px);
      width: 20%;
    }
    input {
      background-color: $text_color_1;
      padding: 9px 10px 9px 10px;
      @include border_radius(0, 1px, 1px, 0);
      width: 80%;
    }

    // Поле "Выпадающий список"
    select {
      background-color: $text_color_1;
      padding: 8px 7px 8px 7px;
      @include border_radius(0, 1px, 1px, 0);
      width: 80%;
    }
    // Поле Checkbox
    input[type=checkbox] {
      width: auto;
      padding: 0;
      margin: 12px 10px 10px 10px;
    }
    &.checkbox_field {
      input[type=checkbox] {
        margin: 10px 10px 10px 10px;
      }
      label {
        background-color: initial;
        border: 0;
      }
    }
    // Поле "Выбор файла"
    input[type=file] {
      width: auto;
      padding: 0;
      margin: 8px 10px 6px 10px;
    }
    &.file_field {
      label {
        border-right: 1px solid $border_color_1;
      }
      .current_file {
        padding: 5px;
        border: 1px solid $border_color_7;
        border-bottom: 0;
        &.image {
          width: 150px;
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          .icon {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 20px;
            height: 20px;
            cursor: hand;
            font-size: 22px;
            color: $text_color_3;
          }
        }
      }
    }
    // Поле "Текст"
    textarea {
      background-color: $text_color_1;
      padding: 9px 10px 9px 10px;
      @include border_radius(0, 1px, 1px, 0);
      width: 80% !important;
      height: 70px;
    }
    // Поле "Двойной список"
    &.dual_list_box {
      .list_cnt {
        width: 40%;
        float: left;
        outline: 1px solid $border_color_7;
        box-sizing: border-box;
        .list_label {
          background-color: $bg_color_4;
          padding: 9px 10px 9px 10px;
          font-size: 16px;
          border-bottom: 1px solid $border_color_7;
        }
        .values {
          list-style: none;
          padding: 0 10px 0 10px;
          box-sizing: border-box;
          margin: 0;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 300px;
          li {
            display: block;
            margin: 0;
            @extend %clearfix;
          }
        }
      }
      .btns {
        width: 20%;
        float: left;
        list-style: none;
        padding: 0;
        margin: 0;
        .btn {
          width: 90px;
          margin: 15px auto 0 auto;
          &.add_btn {
            @extend %blue_btn;
          }
          &.remove_btn {
            @extend  %red_btn;
          }
        }
      }
      @extend %clearfix;
    }

    &.wysiwyg_field {
      .mce-tinymce {
        display: block;
        width: 80%;
        float: right;
        box-sizing: border-box;
        border-color: $border_color_1;
        .mce-container-body {
          padding: 1px 0 0 0;
          .mce-edit-area {
            border-color: $border_color_1;
          }
        }
      }
    }

    // Ошибка
    .error {
      font-size: 10px;
      color: $text_color_3;
    }

    @extend %clearfix;
  }
  // Поле "Кнопка Submit"
  input[type=submit] {
    font-size: 12px;
  }
}