@font-face {
  font-family: "system-icon-font";
  src:font-url("visual_interfaces_d/blue_interface/system-icon-font.eot");
  src:font-url("visual_interfaces_d/blue_interface/system-icon-font.eot?#iefix") format("embedded-opentype"),
  font-url("visual_interfaces_d/blue_interface/system-icon-font.woff") format("woff"),
  font-url("visual_interfaces_d/blue_interface/system-icon-font.ttf") format("truetype"),
  font-url("visual_interfaces_d/blue_interface/system-icon-font.svg#system-icon-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

%system_icon_font {
  font-family: "system-icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  @extend %system_icon_font;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @extend %system_icon_font;
}

.icon-arrow-down:before {
  content: "a";
}
.icon-home:before {
  content: "b";
}
.icon-logout:before {
  content: "c";
}
.icon-phone:before {
  content: "d";
}
.icon-user:before {
  content: "e";
}
.icon-system:before {
  content: "f";
}
.icon-arrow-up:before {
  content: "g";
}
.icon-call:before {
  content: "h";
}
.icon-delete:before {
  content: "i";
}
.icon-edit:before {
  content: "j";
}
