// Таблицы и их фильтрация
.filter {
  padding: 10px;
  border: 1px solid $border_color_1;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  .btn {
    float: right;
    margin: 5px;
  }
  @extend %clearfix;
}
.table {
  width: 100%;
  border: 1px solid $border_color_8;
  th, td {
    font-size: 12px;
    font-weight: normal;
    color: $text_color_8;
    border: 1px solid $border_color_8;
    text-align: left;
    &#id {
      width: 30px;
    }
  }
  td {
    padding: 10px;
    &:last-child {
      width: 200px;
    }
  }
  thead {
    tr {
      border-bottom: 2px solid $border_color_8;
      th {
        position: relative;
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: $text_color_8;
          text-decoration: none;
          padding: 10px;
          box-sizing: border-box;
          font-weight: bold;
        }
        .icon {
          position: absolute;
          top: 15px;
          right: 10px;
        }
      }
    }
  }
  tbody {
    tr {
      &:nth-child(2n+1) {
        background-color: $bg_color_3;
      }
    }
  }
  .btn {
    margin: 0 0 0 10px;
  }
}
// Пэгинация
.pagination {
  text-align: center;
  font-size: 12px;
  margin: 15px 0 0 0;
  .previous_page, .current, a {
    font-style: normal;
    padding: 1px 5px 1px 5px;
    margin: 0 5px 0 0;
  }
  a:not(.next_page):not(.previous_page):not(.last_page):not(.first_page) {
    @extend %grey_btn;
    text-decoration: none;
  }
  .current {
    @extend %blue_btn;
  }
  .next_page, .previous_page, .last_page, .first_page {
    color: $text_color_8;
  }
}