aside
  .user
    .image
      = image_tag ""
    .text
      .login
        | Admin
      .state
        .icon
        | В сети
  nav
    ul.first_menu
      li.active
        .plank
        .first_menu_item
          .icon
          = link_to "Главная", "#"
      li
        .first_menu_item.has_second_menu
          .icon.icon-user
          | Права доступа
          .icon.icon-arrow-down
        ul.second_menu
          li.active
            .plank
            .second_menu_item
              .icon
              = link_to "Пользователи", "#"
          li
            .second_menu_item
              .icon
              = link_to "Роли пользователей", "#"

      li
        .first_menu_item.has_second_menu
          .icon.icon-system
          | Система
          .icon.icon-arrow-down
        ul.second_menu
          li
            .second_menu_item
              .icon
              = link_to "Статусы записей", "#"
          li
            .second_menu_item
              .icon
              = link_to "Статусы записей", "#"
      li
        .first_menu_item
          .icon
          | Выход из системы