.field.dual_list_box

  .list_cnt
    .list_label
      | Список "ИЗ"
    ul.values
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3

  ul.btns
    li.btn.icon.add_btn
      | Добавить >>
    li.btn.icon.remove_btn
      | << Убрать

  .list_cnt
    .list_label
      | Список "В"
    ul.values
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №1
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №2
      li.field.checkbox_field
        input type="checkbox"
        label
          | Значение №3