html
  head
    title
      | Blue Interface
    = stylesheet_link_tag    "visual_interfaces_d/blue_interface/core", media: "all"
    = javascript_include_tag "visual_interfaces_d/application"
    = csrf_meta_tags
  body.blue_interface
    = yield
