.frame
  = render "visual_interfaces_d/example/elements/header"
  = render "visual_interfaces_d/example/elements/sidebar"

  .content
    .header
      .label
        | Пользователи
      ul.breadcrumbs
        li
          = link_to "Главная страница", "#"
        li
          | Пользователи
    .block
      .sub_block
        .label
          | Создать пользователя
        form
          .field
            label
              | Наименование поля №1
            input type="text" value="Значение поля"
          .section_label
            | Пользователи
          .field
            label
              | Наименование поля №2
            input type="password" value="123456789"
          .field
            label
              | Наименование поля №3
            select
              option
                | Значение 1
              option
                | Значение 2
              option
                | Значение 3
          .field
            label
              | Наименование поля №4
            textarea
          .field
            label
              | Наименование поля №4
            input type="checkbox"
          .field.checkbox_field
            input type="checkbox"
            label
              | Наименование поля №5
          .field.file_field
            .current_file.image
              = image_tag "image.jpg"
              .icon.icon-delete
            label
              | Наименование поля №6
            input id="file_field" type="hidden" value=""
            input id="file_field" type="file"

          .field.wysiwyg_field
            label
              | Наименование поля №7
            = tinymce
            textarea.tinymce



          = render "visual_interfaces_d/example/fields/dual_list_box"

          input class="blue_btn" type="submit" value="Сохранить"