.popup
  .container
    .block style="width: 350px; height: auto;"
      .header
        | Панель администрирования
      .flash
        .icon
        | Errors
      .content
        .label
          | Вход в систему
        form
          .field
            label
              | Логин
            input type="text"
          .field
            label
              | Пароль
            input type="password"
          input.btn.blue_btn type="submit" value="Войти"