.frame
  = render "visual_interfaces_d/example/elements/header"
  = render "visual_interfaces_d/example/elements/sidebar"

  .content
    .header
      .label
        | Пользователи
      ul.breadcrumbs
        li
          = link_to "Главная страница", "#"
        li
          | Пользователи
    .block
      .sub_block
        .label
          | Пользователи
          = link_to "Создать", "#", class: "btn blue_btn icon icon-system"
        .filter
          form
            .field
              label
                | Наименование поля №1
              input type="text" value="Значение поля"
            .field
              label
                | Наименование поля №3
              select
                option
                  | Значение 1
                option
                  | Значение 2
                option
                  | Значение 3
            = link_to "Очистить", "#", class: "btn grey_btn"
            input.btn.blue_btn type="submit" value="Фильтровать"


        table.table
          thead
            tr
              th#id
                = link_to "ID", "#"
                .icon.icon-arrow-down
              th
                = link_to "Поле 1", "#"
                .icon.icon-arrow-down
              th
                = link_to "Поле 2", "#"
                .icon.icon-arrow-down
              th
                = link_to "Поле 3", "#"
                .icon.icon-arrow-down
          tbody
            tr
              td
                | 1
              td
                | Значение
              td
                | Значение
              td
                = link_to "Редактировать", "#", class: "btn blue_btn"
                = link_to "Удалить", "#", class: "btn red_btn"
            tr
              td
                | 1
              td
                | Значение
              td
                | Значение
              td
                = link_to "Редактировать", "#", class: "btn blue_btn"
                = link_to "Удалить", "#", class: "btn red_btn"
            tr
              td
                | 1
              td
                | Значение
              td
                | Значение
              td
                = link_to "Редактировать", "#", class: "btn blue_btn"
                = link_to "Удалить", "#", class: "btn red_btn"


        .pagination
          = link_to "В начало", "#", class: "first_page"
          span.previous_page.disabled
            | Пред.
          em.current
            | 1
          = link_to "2", "#", rel: "next"
          = link_to "3", "#"
          = link_to "След.", "#", rel: "next", class: "next_page"
          = link_to "В конец", "#", class: "last_page"